<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Mollitia quisquam ipsa itaque, quas possimus voluptates? 
         Vitae facilis omnis in, distinctio iusto ex dolor nostrum modi 
         totam temporibus ut quos ipsam facere natus beatae amet officia 
         odio aliquid, est pariatur asperiores? Quasi corporis molestiae doloribus 
        explicabo vitae provident autem suscipit nisi.</p>
</body>
</html>